<section class="partners">
  <h2>Кто с нами?</h2>
  <p>
    <a href="http://rocketbank.ru/" target="_blank">Рокетбанк</a>: 10 мест. Офис в Москве, метро Менделеевская.
  </p>
  <p>
    <a href="http://gridly.ru/" target="_blank">Gridly.ru</a>: 2-3 места. Удалёнка или «в офисе на Новодмитровский с ПС4, пуфиками и всей хуйнёй». Работают с Авиасейлз, LG, Алиэкспрессом.
  </p>
  <p>
    Хочешь успеть отхватить охуенных джуниоров в конце мая? Напиши в Телеграм: <a href="http://t.me/evgenyrodionov" target="_blank">t.me/evgenyrodionov</a>.
  </p>
</section>
