<section class="pay">
  <h2>Как оплатить?</h2>
  <p>
    Если готов к этому горячему 🔥 сложному курсу, где получишь реальный проект, который нестыдно показать будущему работодателю или даже маме — перечисляй деньги и пиши мне в <a href="http://t.me/evgenyrodionov" target="_blank">телеграм</a> со скриншотом оплаты, я переведу  в группу первого этапа. Не готов — освободи место, желающих много.
  </p>
  <p>
    Сбербанк, Тинькофф или Рокетбанк: по номеру телефона +7 (999) 821-14-88.<br>
    Для остальных карт: на <a href="http://rocketbank.ru/e" target="_blank">странице Рокетбанка</a>.
  </p>
  <p>
    Стоимость для первых 40 людей: 5 000 рублей.<br>
    Остальные: 7 500 рублей.
  </p>
  <p>
    Привёл друга — скидос в 10%. Пришёл от друга — скидос в 10%. Вместе со скриншотом напиши, от кого пришёл или кого привёл.<br>
    Скидки не суммируются.
  </p>
</section>
