<section class="stages">

  <section>
    <h2>Формат</h2>
    <p class="p-min-margin">
      Курс делится на 4 этапа по неделе.
    </p>
    <p class="p-min-margin">
      На каждом этапе мы улучшаем проект как слоеный пирог: добавляем новую функциональность.
    </p>
    <p class="p-min-margin">
      В понедельник в 20:00 я даю задание и видос на 1 час, где объясняю как его делать. Дедлайн — воскресенье, 23:59.
    </p>
    <p class="p-min-margin">
      Не сделал — вылетаешь. Сделал на отъебись — вылетаешь. Без исключений, в реальном мире никто не будет слушать о непреодолимых проблемах, которые внезапно появились.
    </p>
    <p class="p-min-margin">
      Считайте меня приёбистым заказчиком (которых у вас будет очень много).
    </p>
  </section>

  <section>
    <h3>Первый этап: вёрстка</h3>
    <p class="list-title">
      Сверстаем обе страницы. Научимся работать с:
    </p>
    <ul>
      <li>HTML,</li>
      <li>CSS: застилизуем всё,</li>
      <li>модульной сеткой,</li>
      <li>адаптивностью: у сайта будет мобильная и планшетная версии.</li>
    </ul>
  </section>

  <section>
    <h3>Второй этап: Реакт</h3>
    <p>
      Реакт это библиотека от Фейсбука для работы с интерфейсами.<br>
      Мы перенесём нашу вёрстку в реакт и разобьём её на <strong>компоненты</strong>.
    </p>
  </section>

  <section>
    <h3>Третий этап: разделяем вёрстку и данные</h3>
    <p>
      Список товаров и информация о них должны откуда-то приходить, мы же не будем их в вёрстке хранить? Для этого мы будем запрашивать данные с сервера.
    </p>
  </section>

  <section>
    <h3>Четвёртый этап: джаваскрипт</h3>
    <p class="list-title">
      Этот этап самый сложный — здесь мы научимся:
    </p>
    <ul>
      <li>
        фильтровать и сортировать список объектов,
      </li>
      <li>
        добавим роутинг: разделение на страницы,
      </li>
      <li>
        сделаем работу с формой заявки: со страницы товара пользователь оставляет заявку на звонок, а мы отправляем уведомление в Телеграм.
      </li>
    </ul>
  </section>

</section>
