* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-size-adjust: none;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  background-color: #faafc6;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 50px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

h2 {
  font-family: Courier New, sans-serif;
  font-size: 35px;
  color: #fff;
  position: relative;
  right: 52px;
  top: 16px;
  z-index: 0;
}

h3 {
  font-family: Georgia, serif;
  font-size: 24px;
  font-weight: normal;
  color: #0043ff;
  margin-bottom: 14px;
}

p {
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}

ul {
  list-style: none;
  margin-bottom: 25px;

  li:before {
    content: '— ';
  }

}

a {
  text-decoration: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding-bottom: 2px;

  &:hover {
    border-bottom: none;
  }

}

section {
  width: 710px;
}

.wrapper {
  width: 920px;
  margin: 0 auto;
}
